@import "tailwindcss";

@theme inline {
  --font-sans: "Vollkorn SC", sans-serif;
}

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-sans);
  }
  a {
    color: var(--foreground);
    text-decoration: underline;
  }
  a:hover {
    color: #cccccc;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
